<section class="section">
  <div class="container">
    <h2 class="section-title">Jewelry Showcase</h2>
    <p class="showcase-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="photo-gallery">
      <li>
        <picture>
          <source srcset="" media="(min-width:1158px)" />
          <source srcset="" media="(min-width:768px)" />
          <img
            srcset=""
            src=""
            alt="beaded necklace"
            width="335"
            height="335"
            class="beaded-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source srcset="" media="(min-width:1158px)" />
          <source srcset="" media="(min-width:768px)" />
          <img
            srcset=""
            src=""
            alt="pendant"
            width="335"
            height="335"
            class="pendant-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source srcset="" media="(min-width:1158px)" />
          <source srcset="" media="(min-width:768px)" />
          <img
            srcset=""
            src=""
            alt="bracelet"
            width="335"
            height="335"
            class="bracelet-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source srcset="" media="(min-width:1158px)" />
          <source srcset="" media="(min-width:768px)" />
          <img
            srcset=""
            src=""
            alt="earrings"
            width="335"
            height="335"
            class="earrings-size"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
