<header class="page-header">
  <div class="container header-container">
    <a href="/index.html" class="header-logo">
      <svg class="header-logo-svg" width="160" height="68">
        <use href="/images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a href="#about" class="nav-menu-link">About us</a>
        </li>
        <li class="nav-menu-item">
          <a href="#benefits" class="nav-menu-link">Benefits</a>
        </li>
        <li class="nav-menu-item">
          <a href="#gallery" class="nav-menu-link">Gallery</a>
        </li>
        <li class="nav-menu-item">
          <a href="#testimonials" class="nav-menu-link">Testimonials</a>
        </li>
        <li class="nav-menu-item">
          <a href="#contacts" class="nav-menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-burger-btn">
      <svg class="menu-burger-btn-svg" width="24" height="24">
        <use href="/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <button type="button" class="menu-close-btn">
      <svg class="menu-close-btn-svg" width="24" height="24">
        <use href="/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button type="button" class="order-btn">Order Now</button>
  </div>
</header>
